body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

.home-page{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.logo{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}
.navigation{
    display: flex;
}

.navigation li, a{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: #f9faf8;
    display: inline;
}
.hero-section{
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: #f9faf8;
    border: 5px solid red;
}
.left-hero h1{
    margin: 0;
    padding: 0;
    
}
.hero-image{
    max-width: 600px;
    max-height: 500px;
    border: 1px solid red;
}

.second-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-evenly */
}
.image-class{
    height: 200px;
    width: 100px;
    flex: 1;
    margin: 10px;
    border-radius: 13px;
}

.small-container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
